<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>007--汇编体验.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0752BFA21FB5F1E100232C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0752BFBB1FB5F1E200232C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0752BFC61FB5F1E200232C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
